<html >
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<title>诺博源</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Assets/css/reset.css"/>
<script type="text/javascript" src="__PUBLIC__/Assets/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Assets/js/js_z.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Assets/css/thems.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Assets/css/responsive.css">
</head>

<body>
<!--头部-->
<include file="Public/header" />

<!--头部-->
<div class="banner banner_s"><img src="__PUBLIC__/Assets/upload/banner_a.jpg" alt=""/></div>
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
    <div class="scd_r single">
        <div class="dq">
            <span class="name">关于我们</span>
            <div class="pst">
                <span>您的位置：</span>
                <a href="index.html">首页</a>
                <span>></span>
                <a href="about.html" class="on">关于我们</a>
            </div>
        </div>
        <div class="service">
               {$list['content'] | htmlspecialchars_decode}
            </div>
       
    </div>
</div>
<div class="space_hx">&nbsp;</div>
<include file="public/footer" />
</body>
</html>
