  <!--nav 开始-->
    <div class="nav-box" style=" background:#F09E0B;">
    	<div class="nav w1200">
        <ul>
        	<li><a href="#">在线商城</a></li>
        	<li><a href="#">生活服务</a></li>
        	<li><a href="#">餐饮娱乐</a></li>
        	<li><a href="#">家政服务</a></li>
        	<li><a href="#">美容美发</a></li>
        	<li><a href="#">教育培训</a></li>
        	<li><a href="#">汽车房产</a></li>
        	<li><a href="#">家居建材</a></li>
        	<li><a href="#">二手市场</a></li>
        	<li><a href="#">更多</a></li>
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
    </div>