<html >
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<title>诺博源</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Assets/css/reset.css"/>
<script type="text/javascript" src="__PUBLIC__/Assets/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Assets/js/js_z.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Assets/css/thems.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Assets/css/responsive.css">
</head>

<body>
<!--头部-->
  <include file='Public/header' />
<!--头部-->
<div class="banner banner_s"><img src="__PUBLIC__/Assets/upload/banner_a.jpg" alt=""/></div>
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
	<div class="scd_l">
    	<div class="name">新闻中心</div>
        <ul class="s_nav">
          <volist name="news_type" id="vo">
        	<li>
            	<a href="{:U('News/news',array('typeid'=>$vo['typeid']))}">{$vo.name}</a>
            </li>
           
       </volist>  
          
        </ul>
    </div>
    <div class="scd_r">
    	<div class="dq">
        	<span class="name">{$name}</span>
            <div class="pst">
            	<span>您的位置：</span>
                <a href="index.html">首页</a>
                <span>></span>
                <a href="news.html">新闻中心</a>
                <span>></span>
                <a href="javascript:void(0)" class="on">{$name}</a>
            </div>
        </div>
        <div class="scd_m">
        	<ul class="news">
            
             <volist name="list" id="vo1">
            	<li>
                	<a href="{:U('News/news_info',array('newsid'=>$vo1['newsid']))}">
                    	<p>{$vo1.title}</p>
                        <em>{$vo1.sj}</em>
                    </a>
                </li>
             </volist>
             
                
             
             
              
             
            </ul>
            <div class="space_hx">&nbsp;</div>
            <div class="pages">
              {$page}
            </div>
        </div>
    </div>
</div>
<div class="space_hx">&nbsp;</div>
<div class="bg_b">
	<div class="f_nav clearfix">
    	<div class="f_nl">
        	<div class="name">友情链接</div>
            <div class="frd">
            	<a href="">中通快递</a>
                <a href="">龙邦快递</a>
                <a href="">汇强快递</a>
                <a href="">音素快递</a>
                <a href="">祥龙运通</a>
                <a href="">城市100</a>
                <a href="">能达物流</a>
                <a href="">全峰快递</a>
                <a href="">快捷快递</a>
                <a href="">民邦快递</a>
                <a href="">运通速运</a>
                <a href="">快递协会</a>
                <a href="">增益速递</a>
                <a href="">全球快递</a>
                <a href="">全峰快递</a>
                <a href="">快捷快递</a>
                <a href="">民邦快递</a>
                <a href="">运通速运</a>
                <a href="">快递协会</a>
                <a href="">增益速递</a>
            </div>
        </div>
        <ul class="f_nr clearfix">
            <li>
            	<div class="title">公司微博</div>
                <img src="__PUBLIC__/Assets/images/pic3.jpg" alt=""/>
                <p>诺博源</p>
                <p class="huang">加关注</p>
            </li>
            <li>
            	<div class="title">公司微信</div>
                <img src="__PUBLIC__/Assets/images/pic2.jpg" alt=""/>
                <p>扫一扫</p>
                <p class="huang">立即关注</p>
            </li>
            <li>
            	<div class="title">公司官方群</div>
                <img src="__PUBLIC__/Assets/images/pic1.jpg" alt=""/>
                <p>QQ群</p>
                <p class="huang">立即加入</p>
            </li>
        </ul>
    </div>
</div>
<div class="bg_c">
	<div class="bq">版权所有：深圳市诺博源软件技术有限公司©2015 粤ICP备05007539号-7 粤ICP证100714号 粤公网安备1101080209224号</div>
</div>
</body>
</html>
