<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<title>诺博源</title>
<link rel="stylesheet" type="text/css" href="__CSS__/reset.css"/>
<script type="text/javascript" src="__JS__/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__JS__/js_z.js"></script>
<link rel="stylesheet" type="text/css" href="__CSS__/thems.css">
<link rel="stylesheet" type="text/css" href="__CSS__/responsive.css">
</head>

<body>
<!--头部-->
<include file="public/header" />
<!--头部-->
<div class="banner banner_s"><img src="__PUBLIC__/Assets/upload/banner_a.jpg" alt=""/></div>
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
    <div class="scd_r single">
    	<div class="dq">
        	<span class="name">S3专属定制移动终端</span>
            <div class="pst">
            	<span>您的位置：</span>
                <a href="index.html">首页</a>
                <span>></span>
                <a href="product_info.html" class="on">S3专属定制移动终端</a>
            </div>
        </div>
        <div class="ip_l product">
            <b><img src="__PUBLIC__/Assets/upload/pic7.jpg" alt=""/></b>
            <ul class="product_info">
                <h2>S3专属定制移动终端</h2>
                <p><h3>产品介绍：</h3>S3专属定制移动终端作为“完美人”专属终端设备，完美公司本次推出的手机及平板，将预装完美纵横、完美云店、完美推广等销售系统应用软件，进一步打造信息化移动平台，让销售人员随时随地掌握完美“商机”，服务顾客及市场。设备外观更有“完美”立体LOGO，目前正火热接受销售人员预订.今年，完美公司积极推进“互联网+”计划，定制移动终端的推出是继天猫官方旗舰店上线</p>
            </ul>
        </div>
       
    </div>
</div>
<div class="space_hx">&nbsp;</div>
<!--尾部-->
<include file="public/footer" />
<!--尾部-->
</body>
</html>
